@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');





body{
    font-family: 'Epilogue', sans-serif;
    max-width: 90vw;
    background-color: hsl(0, 0%, 98%);
    
}

p{
font-size: 15px;
color:hsl(0, 0%, 41%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .burger{
    position: absolute;
    right:15px;
}

ul{
list-style-type: none;
}

ul a{
    text-decoration: none;
    color:black;
}

ul li{
    margin:10px 0;
}

ul#menu{
    background-color:white;
    max-width:fit-content;
    padding:50px 50px 30px 30px;
    position: absolute;
    top:0;
    right:0;
    height:100vh;
    transition: all 900ms;
    display:none ;
    
}

.show{
   
   display:block;
}

.see{
    display: block;
   
}

ul#menu li{
    margin-bottom: 20px;
}
ul#menu li img{
    margin-left: 10px;
    margin-bottom: 2px;
}
ul#menu img.close{
    position: absolute;
    top:20px;
    right:20px;
}

ul#menu button{
    width:100%;
    height:40px;
    border-radius: 10px;
    color:hsl(0, 0%, 41%);
    font-weight:700;
    font-family: inherit;
}

ul#menu button.login{
    border:none;
    background-color: inherit;
}
ul#menu button.register{
    border:2px solid hsl(0, 0%, 41%);
}

ul.sub-menu{
    display:none;
}

ul.sub-menu li img{
    margin-right: 10px;
    margin-bottom: -2px;
    
}

main{
    display: flex;
    flex-direction: column-reverse;
}

.part{
    width:100%;
    height:300px;
   
}

.one{
padding:10px;
}

.two{
    object-fit: fill;
    background-image: url('images/image-hero-mobile.png');
    background-size: 100%;
    background-repeat: no-repeat;
    
}

.one .title{
    text-align: center;
}
.one p{
    padding:10px;
    text-align: center;
    line-height: 2rem;
}

button.learn{
    color:white;
    font-family: inherit;
    font-weight: 700;
    padding:12px;
    background-color: black;
    margin:10px auto;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    width:130px
}

div.logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

div.logos img{
    width:65px;
}

a:hover{
    cursor: pointer;
    border:2px solid black
}
button:hover{
    border:1px solid inherit;
    transform: scale(1.1);
}

 @media screen and (min-width:645px){
   .burger,.close{
    display: none;
   }

   ul#menu{
    display: inline-flex;
    background-color: inherit;
    justify-content: space-around;
    align-items: center;
    height:fit-content;
    position: relative;
    padding:0px;
    width: 100%;
   }

   header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
   }
   header h1{
    width: 100%;
    text-align: center;
   }
   ul#menu li{
    margin-right:10px;
    display: flex;
    width:fit-content;
    margin-left: 5%;
}

ul#menu li img{
   
    width:9px;
    height: 9px;
    margin-top: 3px;
}

ul.sub-menu{
    display:none;
    position: absolute;
    top:85%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    
}
.sub-menu li{
    margin-bottom: 20px;
}
main{
    flex-direction: row;
    width:90vw;
    padding: 20px;
}

.part{
    width:50%;
    height:40vw;
    
}
.two{
    background-image:url('images/image-hero-desktop.png') ;
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    font-size: 3em;
}

 }
@media screen and (min-width:1000px){
    .title{
        font-size:5em;
    }

    main{
        padding:30px 50px;
       gap:20px;
       
      
      
    }
    
   

    header h1{
      width:fit-content;
      margin-left: -100px;
    
    }
    p{
        font-size: larger;
    }
}

